#app {
  width: 100%;
  height: 100%;
  position: relative;
}

#app .container, #app .container .page {
  height: 100%;
  width: 100%;
}

#app .container .page span {
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -15px;
  width: 100%;
  text-align: center;
  font-size: 30px;
  line-height: 30px;
  height: 30px;
  color: rgba(225, 225, 225, .85);
  font-weight: bold;
}